---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import ListBooks from '../components/ListBooks.astro'
---

<Layout title='Librería Fran11799'>
	<main class='m-auto max-w-4xl'>
		<Title />
		<ListBooks client:load />
	</main>
</Layout>
