<h1
	class='mt-8 mb-8 font-black uppercase text-4xl md:text-5xl text-center py-8 text-nowrap'
	style='view-transition-name: book-title'
>
	<span class='tracking-[14.3px] ml-3 md:tracking-[28.9px] md:ml-7'>Librería de</span>
	<span class='block text-[67px] md:text-[107px]'>Fran11799</span>
</h1>
